<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image-Host</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <nav class="text-center navbar-light bg-light">
        <img src="./image/logo.png"  alt="logo" class="">
    </nav>
    <% if ((typeof status != 'undefined' ? status : '') =='success') { %>
        <h2 class="text-center bg-success"><%= typeof msg != 'undefined' ? msg : '' %></h2>
        <script>
            setTimeout(() => {
                history.back();
            }, 3000);
        </script>
    <% } %>
    <% if ((typeof status != 'undefined' ? status : '') =='danger') { %>
        <h2 class="text-center bg-danger"><%= typeof msg != 'undefined' ? msg : '' %></h2>
        <script>
            setTimeout(() => {
                history.back();
            }, 3000);
        </script>
    <% } %>
    
    <form class="text-center" action="/upload" method="POST" enctype="multipart/form-data">
        <div class="input-group mt-5">
            <div class="custom-file">
                <input type="file" name="myImage" class="custom-file-input " id="inputGroupFile01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-5">Submit</button>

    </form>
    <br />
    <div class="msg text-center">
        <h4><%= typeof msg2 != 'undefined' ? msg2 : '' %></h4>
        <br />
        <img src="<%= typeof file != 'undefined' ? file : '' %>">
    </div>

    <div class="gridContainer">
        <div class="imgArea"></div>
        <div class="imgArea"></div>
        <div class="imgArea"></div>
        <div class="imgArea"></div>
        <div class="imgArea"></div>
        <div class="imgArea"></div>
    </div>

    <!-- Optional -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>