<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <p>
        If u are me, just login. <br />
        If don't, then u can just look the pics, can't upload. Sorry
      </p>
      <a href="/users/login" class="btn btn-primary btn-block">Login</a>
      <a href="/tourist" class="btn btn-secondary btn-block">Take a look</a>
    </div>
  </div>
</div>
