@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
html {
  height: 100%;
  --bg: #fcfcfc;
  --bg-panel: #ebebeb;
  --bg-footer: #222222;
  --color-heading: #0077ff;
  --color-text: #000000;
  --color-footer-text: #fcfcfc;
}

@media screen and (max-width: 1600px) {
  html {
    --font-size-ex: 2.25rem;
    --font-size-h1: 2rem;
    --font-size-h2: 1.5rem;
    --font-size-p: 1rem;
  }
}

@media screen and (max-width: 1280px) {
  html {
    --font-size-ex: 1.75rem;
    --font-size-h1: 1.5rem;
    --font-size-h2: 1.1rem;
    --font-size-p: 0.75rem;
  }
}

@media screen and (max-width: 610px) {
  html {
    --font-size-ex: 1.5rem;
    --font-size-h1: 1rem;
    --font-size-h2: 0.75rem;
    --font-size-p: 0.5rem;
  }
}

html[data-theme="dark"] {
  --bg: #333333;
  --bg-panel: #434343;
  --bg-footer: #cfcfcf;
  --color-text: #fcfcfc;
  --color-footer-text: #333333;
}

body {
  background-color: var(--bg);
}

.overflow {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.toggle-container {
  position: absolute;
  top: -5vh;
  right: -5vh;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + label {
  background: var(--color-heading);
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

a {
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  color: #222222;
}

.pageContainer {
  width: 100%;
  height: 100vh;
}

.introContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 888px) {
  .introContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.introContainer .mymovieContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(./images/cinema-1241422_1920.jpg);
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.introContainer .mymovieContainer .introMymovie {
  z-index: 2;
}

.introContainer .mymovieContainer .introMymovie h1 {
  width: 400px;
  height: 60px;
  padding-top: 5px;
  border: 3px solid #ffffff;
  cursor: default;
  -webkit-animation: popup 1s;
          animation: popup 1s;
  font-size: 2.5em;
}

@media screen and (max-width: 1200px) {
  .introContainer .mymovieContainer .introMymovie h1 {
    width: 320px;
    height: 45px;
    font-size: 2em;
  }
}

.introContainer .mymovieContainer .introMymovie button {
  margin-top: 70px;
  font-size: 1.5em;
  font-family: inherit;
  background-color: rgba(0, 73, 73, 0.1);
  color: #ffffff;
  cursor: pointer;
  border: none;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  -webkit-animation: showup 1s;
          animation: showup 1s;
}

@media screen and (max-width: 1200px) {
  .introContainer .mymovieContainer .introMymovie button {
    font-size: 1em;
  }
}

@media screen and (max-width: 888px) {
  .introContainer .mymovieContainer .introMymovie button {
    margin-top: 30px;
  }
}

.introContainer .mymovieContainer .introMymovie button:hover {
  background-color: #222222;
}

.introContainer .mymovieContainer .introMymovie i {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: showup 1s;
          animation: showup 1s;
}

@media screen and (max-width: 888px) {
  .introContainer .mymovieContainer .introMymovie i {
    margin-top: 50px;
  }
}

.introContainer .mymovieContainer .introMymovie i img:hover {
  -webkit-animation: simpleBtnchange 500ms ease-in-out;
          animation: simpleBtnchange 500ms ease-in-out;
}

.introContainer .mymovieContainer::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(220, 20, 60, 0.5);
  -webkit-box-shadow: inset 5px 5px 50px #222222, inset -30px -5px 50px #222222;
          box-shadow: inset 5px 5px 50px #222222, inset -30px -5px 50px #222222;
}

@media screen and (max-width: 888px) {
  .introContainer .mymovieContainer::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.introContainer .picbedContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-image: url(./images/poster-mockup-2853835_1920.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introContainer .picbedContainer .introPicbed {
  z-index: 2;
}

.introContainer .picbedContainer .introPicbed h1 {
  width: 400px;
  height: 60px;
  padding-top: 5px;
  border: 3px solid #222222;
  cursor: default;
  -webkit-animation: popup 1s;
          animation: popup 1s;
  font-size: 2.5em;
}

@media screen and (max-width: 1200px) {
  .introContainer .picbedContainer .introPicbed h1 {
    width: 320px;
    height: 45px;
    font-size: 2em;
  }
}

.introContainer .picbedContainer .introPicbed button {
  margin-top: 70px;
  font-size: 1.5em;
  font-family: inherit;
  background-color: rgba(158, 209, 216, 0.2);
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  color: #222222;
  cursor: pointer;
  border: none;
  -webkit-animation: showup 1s;
          animation: showup 1s;
}

@media screen and (max-width: 1200px) {
  .introContainer .picbedContainer .introPicbed button {
    font-size: 1em;
  }
}

@media screen and (max-width: 888px) {
  .introContainer .picbedContainer .introPicbed button {
    margin-top: 30px;
  }
}

.introContainer .picbedContainer .introPicbed button:hover {
  background-color: #ffffff;
}

.introContainer .picbedContainer .introPicbed i {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: showup 1s;
          animation: showup 1s;
}

@media screen and (max-width: 888px) {
  .introContainer .picbedContainer .introPicbed i {
    margin-top: 50px;
  }
}

.introContainer .picbedContainer .introPicbed i img:hover {
  -webkit-animation: simpleBtnchange 500ms ease-in-out;
          animation: simpleBtnchange 500ms ease-in-out;
}

.introContainer .picbedContainer::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background: rgba(158, 209, 216, 0.8);
  -webkit-box-shadow: inset 30px 5px 50px #222222, inset -5px -5px 10px #222222;
          box-shadow: inset 30px 5px 50px #222222, inset -5px -5px 10px #222222;
}

@media screen and (max-width: 888px) {
  .introContainer .picbedContainer::after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.introContainer .animationContainer {
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}

@media screen and (max-width: 888px) {
  .introContainer .animationContainer {
    top: 50%;
    left: 10%;
    width: 150%;
  }
}

.mmpage {
  text-align: center;
}

.nav {
  background: var(--bg);
  position: relative;
  margin: 3rem 3rem;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

@media screen and (max-width: 700px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nav h1 {
  cursor: default;
  color: var(--color-text);
  font-size: 2em;
  margin-left: 3vh;
}

@media screen and (max-width: 700px) {
  .nav h1 {
    font-size: 3rem;
    margin: 0;
  }
}

.nav h1 span {
  color: crimson;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media screen and (max-width: 700px) {
  .nav ul {
    margin-top: 2rem;
    border: 2px solid black;
    padding: 0.5rem;
  }
}

.nav ul li a {
  text-decoration: none;
  color: var(--color-text);
  letter-spacing: 1px;
  position: relative;
  margin: 0 3rem;
  padding: 5px 0;
}

@media screen and (max-width: 700px) {
  .nav ul li a {
    margin: auto 2rem;
  }
}

.nav ul li a:last-child {
  margin-right: 40px;
}

.nav ul li a::before,
.nav ul li a::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: crimson;
  left: 0;
  position: absolute;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav ul li a::before {
  top: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav ul li a::after {
  bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.nav ul li a:hover::before,
.nav ul li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.slider {
  width: 100%;
  height: 50vh;
}

.slider .img1 {
  background-image: url(http://localhost:5000/api/picture/one/boyhood-1566288713858.jpg);
}

.slider .img2 {
  background-image: url(http://localhost:5000/api/picture/one/hibana-1566291844316.jpg);
}

.slider .img3 {
  background-image: url(http://localhost:5000/api/picture/one/terracehousealoha-1565784144585.jpg);
}

.slider .imgarea {
  width: "auto";
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.slider .imgarea .cover {
  opacity: 0;
  color: #ffffff;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .imgarea .cover .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .slider .imgarea .cover .row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider .imgarea .cover .row1 .coverside {
    margin-top: 1rem;
  }
}

.slider .imgarea .cover .row1 h1 {
  background: rgba(220, 20, 60, 0.3);
  padding: 0.5em;
  min-width: 12vw;
  max-width: 25vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
  font-size: var(--font-size-ex);
}

.slider .imgarea .cover .row1 .coverside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  margin-left: 10%;
  background: rgba(255, 255, 255, 0.5);
}

.slider .imgarea .cover .row1 .coverside img {
  width: 32px;
  height: 32px;
  margin: 1em;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .slider .imgarea .cover .row1 .coverside img {
    width: 16px;
    height: 16px;
  }
}

.slider .imgarea .cover .row1 .coverside img:hover {
  -webkit-animation: simpleBtnchange 500ms ease-in-out;
          animation: simpleBtnchange 500ms ease-in-out;
}

@media screen and (max-width: 600px) {
  .slider .imgarea .cover .row1 .coverside {
    margin-left: 0;
  }
}

.slider .imgarea .cover .row2 {
  margin-top: 2em;
  cursor: default;
}

.slider .imgarea:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.slider .imgarea:hover .cover {
  opacity: 1;
  z-index: 2;
}

.swiper-wrapper {
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.moviedata {
  width: 100%;
  height: 35vh;
  margin-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg-panel);
  position: relative;
}

.moviedata #myElement {
  width: 90%;
  font-weight: bolder;
  color: var(--color-text);
}

@media screen and (max-width: 1920px) {
  .moviedata #myElement {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1160px) {
  .moviedata #myElement {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 610px) {
  .moviedata #myElement {
    font-size: 1rem;
  }
}

.moviedata #myElement p span {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.moviedata #myElement p span:hover {
  color: #3d3dc4;
}

.numberaffect {
  color: crimson;
  font-size: 1.5em;
}

.Artical {
  margin-top: 5vh;
  width: 100%;
}

.Artical ul {
  display: -ms-grid;
  display: grid;
  list-style: none;
  margin-top: 1rem;
}

.Artical ul li {
  margin: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.Artical ul li .line {
  position: absolute;
  top: -1em;
  left: -1em;
  width: 97vw;
  height: 5px;
  background: var(--bg-footer);
}

.Artical ul li .line .block {
  position: absolute;
  right: -0.5vw;
  top: -8px;
  width: 4vw;
  height: 20px;
  background: var(--bg-footer);
  float: right;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.Artical ul li .imgArea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.Artical ul li .imgArea img {
  width: 100%;
}

.Artical ul li .postArea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Artical ul li .postArea .icon {
  margin-top: 5%;
  z-index: 2;
}

.Artical ul li .postArea .icon img {
  width: 32px;
  height: 32px;
  margin: 1em;
  cursor: pointer;
}

.Artical ul li .postArea .icon img:hover {
  -webkit-animation: simpleBtnchange 500ms ease-in-out;
          animation: simpleBtnchange 500ms ease-in-out;
}

.Artical ul li .postArea audio {
  position: absolute;
  right: 0;
  bottom: 0;
}

.Artical ul li .postArea .head {
  width: 85%;
  margin: auto;
  margin-top: 1em;
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: var(--color-text);
  font-size: var(--font-size-h1);
  text-transform: uppercase;
}

.Artical ul li .postArea .head2 {
  color: var(--color-text);
  margin-top: 1em;
  float: right;
  font-size: var(--font-size-h2);
}

.postPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
  background: var(--bg-panel);
}

.postPage ul {
  margin-left: 5vh;
}

.postPage button {
  position: absolute;
  left: 13%;
  top: 25vh;
  width: 10vh;
  height: 5vh;
  font-family: inherit;
  font-size: 1.2em;
  background-color: var(--bg);
  color: var(--color-text);
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.postPage button:hover {
  background: #0077ff;
  color: #fcfcfc;
  border: 2px solid #222222;
}

.postPage button a {
  color: inherit;
}

@media screen and (max-width: 700px) {
  .postPage button {
    top: 35vh;
  }
}

.postPage h1,
.postPage h2,
.postPage h3,
.postPage h4,
.postPage h5,
.postPage h6 {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.postPage strong {
  font-weight: bold;
}

.postPage p > code:not([class]) {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.postPage p img {
  /* 图片居中 */
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.postPage h1 {
  color: crimson;
  font-size: 2.5em;
}

.postPage hr {
  margin: 2rem auto;
}

.postPage #mdContent {
  background: var(--bg);
  color: var(--color-text);
  margin-top: 1rem;
  padding: 2.5rem;
  border-radius: 5px;
  width: 70%;
  text-align: left;
  font-size: 16px;
  line-height: 2.5em;
}

.postlist {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.postlist .list ul {
  width: 100%;
  height: auto;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .postlist .list ul {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .postlist .list ul {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.postlist .list ul li {
  position: relative;
}

.postlist .list ul li img {
  width: 100%;
}

.postlist .list ul li .headarea {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: whitesmoke;
}

.postlist .list ul li .headarea .h1 {
  width: 70%;
  background: rgba(220, 20, 60, 0.5);
  margin: auto;
}

.postlist .list ul li .headarea .h3 {
  width: 90%;
  background: rgba(220, 20, 60, 0.5);
  margin: auto;
}

footer {
  background: var(--bg-footer);
  color: var(--color-footer-text);
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer input {
  -webkit-appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
}

footer .rateArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .rate-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

footer .rate-content input[name="rate"] {
  font-family: "iconfont";
  font-size: 30px;
  width: 15px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

footer .rate-content input[name="rate"]::after {
  content: "\e645";
  color: #999;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

footer .rate-content input[name="rate"]:checked:after, footer .rate-content input[name="rate"]:hover:after {
  content: "\e73c";
  color: #ffa822;
}

footer .rate-content input[name="rate"]:checked ~ input[name="rate"]::after, footer .rate-content input[name="rate"]:hover ~ input[name="rate"]::after {
  content: "\e73c";
  color: #ffa822;
}

footer .rate-content input[name="rate"]:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer .rate-content input[name="rate"]:hover ~ input[name="rate"] {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer .rate-content input[name="rate"]:nth-child(odd) {
  direction: rtl;
}

footer h3 {
  margin-top: 0.5em;
  font-size: 0.5rem;
}

.showup {
  -webkit-animation: showup 2s ease-in-out;
          animation: showup 2s ease-in-out;
}

@-webkit-keyframes runningFrames {
  0% {
    -webkit-transform: translateX(350%);
            transform: translateX(350%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes runningFrames {
  0% {
    -webkit-transform: translateX(350%);
            transform: translateX(350%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes showup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes simpleBtnchange {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes simpleBtnchange {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.loadArea {
  width: 100vw;
  height: 100vh;
  background-color: rgba(241, 196, 15, 0.5);
}

.loadArea h1 {
  position: absolute;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  left: 50%;
  top: 58%;
  margin-left: -20px;
}

.loadArea .body {
  position: absolute;
  top: 50%;
  margin-left: -50px;
  left: 50%;
  -webkit-animation: speeder 0.4s linear infinite;
          animation: speeder 0.4s linear infinite;
}

.loadArea .body > span {
  height: 5px;
  width: 35px;
  background: #000;
  position: absolute;
  top: -19px;
  left: 60px;
  border-radius: 2px 10px 1px 0;
}

.loadArea .base span {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-right: 100px solid #000;
  border-bottom: 6px solid transparent;
}

.loadArea .base span:before {
  content: "";
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  right: -110px;
  top: -16px;
}

.loadArea .base span:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-right: 55px solid #000;
  border-bottom: 16px solid transparent;
  top: -16px;
  right: -98px;
}

.loadArea .face {
  position: absolute;
  height: 12px;
  width: 20px;
  background: #000;
  border-radius: 20px 20px 0 0;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  right: -125px;
  top: -15px;
}

.loadArea .face:after {
  content: "";
  height: 12px;
  width: 12px;
  background: #000;
  right: 4px;
  top: 7px;
  position: absolute;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-radius: 0 0 0 2px;
}

.loadArea .body > span > span:nth-child(1),
.loadArea .body > span > span:nth-child(2),
.loadArea .body > span > span:nth-child(3),
.loadArea .body > span > span:nth-child(4) {
  width: 30px;
  height: 1px;
  background: #000;
  position: absolute;
  -webkit-animation: fazer1 0.2s linear infinite;
          animation: fazer1 0.2s linear infinite;
}

.loadArea .body > span > span:nth-child(2) {
  top: 3px;
  -webkit-animation: fazer2 0.4s linear infinite;
          animation: fazer2 0.4s linear infinite;
}

.loadArea .body > span > span:nth-child(3) {
  top: 1px;
  -webkit-animation: fazer3 0.4s linear infinite;
          animation: fazer3 0.4s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.loadArea .body > span > span:nth-child(4) {
  top: 4px;
  -webkit-animation: fazer4 1s linear infinite;
          animation: fazer4 1s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes fazer1 {
  0% {
    left: 0;
  }
  100% {
    left: -80px;
    opacity: 0;
  }
}

@keyframes fazer1 {
  0% {
    left: 0;
  }
  100% {
    left: -80px;
    opacity: 0;
  }
}

@-webkit-keyframes fazer2 {
  0% {
    left: 0;
  }
  100% {
    left: -100px;
    opacity: 0;
  }
}

@keyframes fazer2 {
  0% {
    left: 0;
  }
  100% {
    left: -100px;
    opacity: 0;
  }
}

@-webkit-keyframes fazer3 {
  0% {
    left: 0;
  }
  100% {
    left: -50px;
    opacity: 0;
  }
}

@keyframes fazer3 {
  0% {
    left: 0;
  }
  100% {
    left: -50px;
    opacity: 0;
  }
}

@-webkit-keyframes fazer4 {
  0% {
    left: 0;
  }
  100% {
    left: -150px;
    opacity: 0;
  }
}

@keyframes fazer4 {
  0% {
    left: 0;
  }
  100% {
    left: -150px;
    opacity: 0;
  }
}

@-webkit-keyframes speeder {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -3px) rotate(-1deg);
            transform: translate(-1px, -3px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-2px, 0px) rotate(1deg);
            transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 3px) rotate(-1deg);
            transform: translate(-1px, 3px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-1px, 1px) rotate(0deg);
            transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-2px, -1px) rotate(1deg);
            transform: translate(-2px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes speeder {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -3px) rotate(-1deg);
            transform: translate(-1px, -3px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-2px, 0px) rotate(1deg);
            transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 3px) rotate(-1deg);
            transform: translate(-1px, 3px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-1px, 1px) rotate(0deg);
            transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-2px, -1px) rotate(1deg);
            transform: translate(-2px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

.loadArea .longfazers {
  position: absolute;
  width: 100%;
  height: 100%;
}

.loadArea .longfazers span {
  position: absolute;
  height: 2px;
  width: 20%;
  background: #000;
}

.loadArea .longfazers span:nth-child(1) {
  top: 20%;
  -webkit-animation: lf 0.6s linear infinite;
          animation: lf 0.6s linear infinite;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

.loadArea .longfazers span:nth-child(2) {
  top: 40%;
  -webkit-animation: lf2 0.8s linear infinite;
          animation: lf2 0.8s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.loadArea .longfazers span:nth-child(3) {
  top: 60%;
  -webkit-animation: lf3 0.6s linear infinite;
          animation: lf3 0.6s linear infinite;
}

.loadArea .longfazers span:nth-child(4) {
  top: 80%;
  -webkit-animation: lf4 0.5s linear infinite;
          animation: lf4 0.5s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

@-webkit-keyframes lf {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}

@keyframes lf {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}

@-webkit-keyframes lf2 {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}

@keyframes lf2 {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}

@-webkit-keyframes lf3 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

@keyframes lf3 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

@-webkit-keyframes lf4 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

@keyframes lf4 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

html.transition,
html.transition *,
html.transition::before,
html.transition::after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}
/*# sourceMappingURL=App.css.map */