$colors: (
  movie: #ffffff,
  picbed: #222222
);

$sliderPics: (
  img1: url(http://localhost:5000/api/picture/one/boyhood-1566288713858.jpg),
  img2: url(http://localhost:5000/api/picture/one/hibana-1566291844316.jpg),
  img3: url(http://localhost:5000/api/picture/one/terracehousealoha-1565784144585.jpg)
);

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: #222222;
  }
}

.pageContainer {
  width: 100%;
  height: 100vh;
}

.introContainer {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 888px) {
    flex-direction: column;
  }
  width: 100%;
  height: 100vh;
  .mymovieContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: rgb(179, 73, 73);
    background-image: url(./images/cinema-1241422_1920.jpg);
    background-position: center;
    background-size: cover;
    color: map-get($colors, movie);
    .introMymovie {
      z-index: 2;
      h1 {
        width: 400px;
        height: 60px;
        padding-top: 5px;
        border: 3px solid map-get($colors, movie);
        cursor: default;
        animation: popup 1s;
        font-size: 2.5em;
        @media screen and (max-width: 1200px) {
          width: 320px;
          height: 45px;
          font-size: 2em;
        }
      }
      button {
        margin-top: 70px;
        @media screen and (max-width: 1200px) {
          font-size: 1em;
        }
        @media screen and (max-width: 888px) {
          margin-top: 30px;
        }
        font-size: 1.5em;
        font-family: inherit;
        background-color: rgba(0, 73, 73, 0.1);
        color: map-get($colors, movie);
        cursor: pointer;
        border: none;
        transition: background-color 1s;
        animation: showup 1s;
      }
      button:hover {
        background-color: map-get($colors, picbed);
      }
      i {
        margin-top: 100px;
        @media screen and (max-width: 888px) {
          margin-top: 50px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        animation: showup 1s;
        img:hover {
          animation: simpleBtnchange 500ms ease-in-out;
        }
      }
    }
  }
  .mymovieContainer::after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(220, 20, 60, 0.5);
    box-shadow: inset 5px 5px 50px #222222, inset -30px -5px 50px #222222;
    @media screen and (max-width: 888px) {
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      box-shadow: none;
    }
  }

  .picbedContainer {
    flex: 1;
    // background-color: rgb(150, 197, 250);
    background-image: url(./images/poster-mockup-2853835_1920.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .introPicbed {
      z-index: 2;
      h1 {
        width: 400px;
        height: 60px;
        padding-top: 5px;
        border: 3px solid map-get($colors, picbed);
        cursor: default;
        animation: popup 1s;
        font-size: 2.5em;
        @media screen and (max-width: 1200px) {
          width: 320px;
          height: 45px;
          font-size: 2em;
        }
      }
      button {
        margin-top: 70px;
        @media screen and (max-width: 1200px) {
          font-size: 1em;
        }
        @media screen and (max-width: 888px) {
          margin-top: 30px;
        }
        font-size: 1.5em;
        font-family: inherit;
        background-color: rgba(158, 209, 216, 0.2);
        transition: background-color 1s;
        color: map-get($colors, picbed);
        cursor: pointer;
        border: none;
        animation: showup 1s;
      }
      button:hover {
        background-color: map-get($colors, movie);
      }
      i {
        margin-top: 100px;
        @media screen and (max-width: 888px) {
          margin-top: 50px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        animation: showup 1s;
        img:hover {
          animation: simpleBtnchange 500ms ease-in-out;
        }
      }
    }
  }
  .picbedContainer::after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background: rgba(158, 209, 216, 0.8);
    box-shadow: inset 30px 5px 50px #222222, inset -5px -5px 10px #222222;
    @media screen and (max-width: 888px) {
      top: 50%;
      left: 0;
      width: 100%;
      height: 50%;
      box-shadow: none;
    }
  }

  .animationContainer {
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    @media screen and (max-width: 888px) {
      top: 50%;
      left: 10%;
      width: 150%;
    }
  }
}

.mmpage {
  text-align: center;
}

.nav {
  margin: 4rem 4rem;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  // background: #222222;
  h1 {
    cursor: default;
    span {
      color: crimson;
    }
  }
  ul {
    display: flex;
    list-style: none;
    li {
      a {
        text-decoration: none;
        color: inherit;
        letter-spacing: 1px;
        position: relative;
        margin: 0 3rem;
        padding: 5px 0;
      }
      a:last-child {
        margin-right: 40px;
      }
      a::before,
      a::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: crimson;
        left: 0;
        position: absolute;
        transform: scaleX(0);
        transition: all 0.5s;
      }
      a::before {
        top: 0;
        transform-origin: left;
      }
      a::after {
        bottom: 0;
        transform-origin: right;
      }
      a:hover::before,
      a:hover::after {
        transform: scaleX(1);
      }
    }
  }
}

.slider {
  width: 100%;
  height: 50vh;
  .img1 {
    background-image: map-get($sliderPics, img1);
  }
  .img2 {
    background-image: map-get($sliderPics, img2);
  }
  .img3 {
    background-image: map-get($sliderPics, img3);
  }
  .imgarea {
    width: "auto";
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    h1 {
      opacity: 0;
      color: #ffffff;
      transition: all 1000ms;
    }
    &:hover {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
      }
    }
    &:hover {
      h1 {
        opacity: 1;
        z-index: 2;
      }
    }
  }
}

.moviedata {
  width: 100%;
  height: 32vh;
  display: flex;
  justify-content: center;
  align-items: center;
  #myElement {
    width: 80%;
    font-size: 1.2rem;
    font-weight: bolder;
    p {
      span {
        transition: all 1s;
      }
      span:hover {
        color: green;
      }
    }
  }
}
// .ityped-cursor {
//   font-size: 1.5rem;
//   opacity: 1;
//   -webkit-animation: blink 0.3s infinite;
//   -moz-animation: blink 0.3s infinite;
//   animation: blink 0.3s infinite;
//   animation-direction: alternate;
// }

// @keyframes blink {
//   100% {
//     opacity: 0;
//   }
// }

// @-webkit-keyframes blink {
//   100% {
//     opacity: 0;
//   }
// }

// @-moz-keyframes blink {
//   100% {
//     opacity: 0;
//   }
// }
.numberaffect {
  color: crimson;
  font-size: 1.5em;
}

.Artical {
  width: 100%;
  ul {
    display: grid;
    list-style: none;
    li {
      margin: 1em;
      display: flex;
      .imgArea {
        flex: 1;
        img {
          width: 100%;
        }
      }
      .postArea {
        flex: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
          width: 80%;
          transition: all 1s;
          @media screen and (max-width: 1185px) {
            font-size: 1.5em;
          }
          @media screen and (max-width: 888px) {
            font-size: 1em;
          }
          @media screen and (max-width: 610px) {
            font-size: 0.5em;
          }
          text-transform: uppercase;
        }
        a {
          position: absolute;
          top: 80%;
          left: 85%;
        }
      }
    }
  }
}

.postPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  h1 {
    color: crimson;
    margin: 1em;
  }
  h3 {
    color: rgb(66, 160, 223);
    margin: 1em;
  }
  .markdown {
    width: 60%;
    line-height: 2rem;
  }
}

.postlist {
  width: 100%;
  display: flex;
  flex-direction: column;
  .list {
    ul {
      width: 100%;
      height: auto;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(100px, auto);
      grid-gap: 1em;
      justify-content: center;
      align-items: center;
      li {
        position: relative;
        img {
          width: 100%;
        }
        .headarea {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
        }
      }
    }
  }
}

footer {
  background: #222222;
  color: #ffffff;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  input {
    -webkit-appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .rateArea {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rate-content {
    display: flex;
    flex-flow: row-reverse;
    $main: #ffa822; // 高亮颜色
    $basic: #999; // 默认颜色

    // 单个星星
    input[name="rate"] {
      font-family: "iconfont"; // 之前引入的iconfont字体
      font-size: 30px;
      // padding-right: 10px;
      width: 15px;
      overflow: hidden;
      transition: transform 0.2s ease; // 加入过渡效果
      // 默认显示的星星
      &::after {
        content: "\e645";
        color: $basic;
        transition: color 0.4s ease; // 加点颜色过渡效果
      }
      // 高亮的星星
      &:checked,
      &:hover {
        &:after {
          content: "\e73c";
          color: $main;
        }
        & ~ input[name="rate"] {
          &::after {
            content: "\e73c";
            color: $main;
          }
        }
      }
      &:hover {
        transform: scale(1.1);
        & ~ input[name="rate"] {
          transform: scale(1.1);
        }
      }
    }
  }
  .rate-content input[name="rate"]:nth-child(odd) {
    direction: rtl;
  }
  h3 {
    margin-top: 1em;
    font-size: 1rem;
  }
}

.showup {
  animation: showup 1s ease-in-out;
}

@keyframes runningFrames {
  0% {
    transform: translateX(350%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes popup {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes showup {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes simpleBtnchange {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
