.pageContainer {
  width: 100%;
  height: 100vh;
}

.introContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100vh;
}

.introContainer .mymovieContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #b34949;
  background-size: cover;
  color: #ffffff;
}

.introContainer .mymovieContainer .introMymovie h1 {
  width: 320px;
  height: 50px;
  padding-top: 5px;
  border: 3px solid #ffffff;
  cursor: default;
}

.introContainer .mymovieContainer .introMymovie button {
  font-size: 1rem;
  font-family: inherit;
  padding: 5px 10px;
  background-color: #b34949;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.introContainer .mymovieContainer .introMymovie button:hover {
  background-color: #222222;
}

.introContainer .mymovieContainer .introMymovie i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introContainer .mymovieContainer .introMymovie i a {
  text-decoration: none;
}

.introContainer .mymovieContainer .introMymovie i a h3 {
  width: 90px;
  border: 2px solid #ffffff;
  border-radius: 15px;
}

.introContainer .mymovieContainer .introMymovie i a:link {
  color: #ffffff;
}

.introContainer .mymovieContainer .introMymovie i a:visited {
  color: #ffffff;
}

.introContainer .mymovieContainer .introMymovie i a:active {
  color: #ffffff;
}

.introContainer .picbedContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #96c5fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introContainer .picbedContainer .introPicbed h1 {
  width: 320px;
  height: 50px;
  padding-top: 5px;
  border: 3px solid #222222;
  cursor: default;
}

.introContainer .picbedContainer .introPicbed button {
  font-size: 1rem;
  font-family: inherit;
  padding: 5px 10px;
  background-color: #96c5fa;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  color: #222222;
  cursor: pointer;
  border: none;
}

.introContainer .picbedContainer .introPicbed button:hover {
  background-color: #ffffff;
}

.introContainer .picbedContainer .introPicbed i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introContainer .picbedContainer .introPicbed i a {
  text-decoration: none;
}

.introContainer .picbedContainer .introPicbed i a h3 {
  width: 90px;
  border: 2px solid #222222;
  border-radius: 15px;
}

.introContainer .picbedContainer .introPicbed i a:link {
  color: #222222;
}

.introContainer .picbedContainer .introPicbed i a:visited {
  color: #222222;
}

.introContainer .picbedContainer .introPicbed i a:active {
  color: #222222;
}

.slider {
  width: 100%;
  height: 50vh;
}

.slider .img {
  width: 'auto';
  height: 50vh;
  background-image: url(https://raw.githubusercontent.com/Tokunaga-X/Tokunaga-X.github.io/master/img/HelloBlog.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.vertical-slider {
  margin: 20px;
  width: 100%;
}

.vertical-slider .img {
  width: 100%;
  height: 45vh;
  background-image: url(https://raw.githubusercontent.com/Tokunaga-X/Tokunaga-X.github.io/master/img/HelloBlog.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Artical {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Artical .swiperArea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.Artical .wordArea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.Artical .wordArea .right ul {
  width: 100%;
  list-style: none;
}

.Artical .wordArea .right ul li {
  width: 100%;
  height: 45vh;
  background: #222222;
  margin-bottom: 30px;
  color: #ffffff;
}
/*# sourceMappingURL=App.css.map */