
$colors: (
    movie: #ffffff,
    picbed: #222222
);


.pageContainer {
    width: 100%;
    height: 100vh;
}

.introContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    
    .mymovieContainer {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(179, 73, 73);
        
        background-size:cover;
        color: map-get($colors, movie);
        .introMymovie {
            h1 {
                width: 320px;
                height: 50px;
                padding-top: 5px;
                border: 3px solid map-get($colors, movie);
                cursor: default;
            }
            button {
                font-size: 1rem;
                font-family : inherit;
                padding: 5px 10px;
                background-color: rgb(179, 73, 73);
                transition: background-color 1s;
                color: map-get($colors, movie);
                cursor: pointer;
                border: none; 
            }
            button:hover {
                background-color: map-get($colors, picbed);
            }
            i {
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    text-decoration: none;
                    h3 {
                        width: 90px;
                        border: 2px solid map-get($colors, movie);
                        border-radius: 15px;
                    }
                }
                a:link {
                    color: map-get($colors, movie);
                }
                a:visited {
                    color: map-get($colors, movie);
                }
                a:active {
                    color: map-get($colors, movie);
                }
            }
        }
    }
    
    .picbedContainer {
        flex: 1;
        background-color: rgb(150, 197, 250);
        display: flex;
        justify-content: center;
        align-items: center;
        .introPicbed {
            h1 {
                width: 320px;
                height: 50px;
                padding-top: 5px;
                border: 3px solid map-get($colors, picbed);
                cursor: default;
            }
            button {
                font-size: 1rem;
                font-family : inherit;
                padding: 5px 10px;
                background-color: rgb(150, 197, 250);
                transition: background-color 1s;
                color: map-get($colors, picbed);
                cursor: pointer;
                border: none;
            }
            button:hover {
                background-color: map-get($colors, movie);
            }
            i {
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    text-decoration: none;
                    h3 {
                        width: 90px;
                        border: 2px solid map-get($colors, picbed);
                        border-radius: 15px;
                    }
                }
                a:link {
                    color: map-get($colors, picbed);
                }
                a:visited {
                    color: map-get($colors, picbed);
                }
                a:active {
                    color: map-get($colors, picbed);
                }
            }
        }
    }
}

.slider {
    width: 100%;
    height: 500px;
    .img {
        height: 50vh;
        background-image: url(https://raw.githubusercontent.com/Tokunaga-X/Tokunaga-X.github.io/master/img/about-Me.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

